.step_one {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;



  }
  
  .instruction  {
    font-size: 12px;
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;



    text-align: center;


  }