.step_two {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Caveat';

    animation: fadeIn 1s;
  }
  
  .instruction {
    font-size: 18px;
    align-items: center;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

    animation: fadeIn 2s;
  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  